/* #region root */

:root {
    --bg-head-blue: #2c3e50;
    --bg-section-aqua: #1abc9c;
    --bg-footer-lighter: #3a546d;
}


/* #region root */

/* #region debug */

.debug div {
    border: 1px dashed black;
}

.debug #app_header [class^="col"] {
    height: 75px;
}

.debug [class^="col"] {
    border: 1px dashed black;
}

.debug .avt {
    background-color: #2c3e50;
    height: 200px;
    aspect-ratio: 1/1;
}

.debug .title_avt {
    background-color: #2c3e50;
    width: 300px;
    height: 100px;
}

.debug .star {
    background-color: #2c3e50;
    width: 300px;
    height: 50px;
}

.debug .cat {
    background-color: #2c3e50;
    width: 300px;
    height: 100px;
}

.debug .card {
    aspect-ratio: 1/1;
}

.debug button {
    border: 0.5px solid black;
}

.debug .form {
    background-color: var(--bg-head-blue);
}

/* #endregion debug */

/* #region common */

header {
    background-color: #2c3e50;
}

section:nth-child(odd) {
    background-color: #1abc9c;
}


/* #endregion common */

/* #region utilities */

/* #endregion utilities */

/* #endregion main */

.cont_1, .cont_2 {
    width: 50%;
    aspect-ratio: 1/1;
}

.form {
    width: 50%;
}

.line {
    height: 5px;
}

#portfolio .line {
    background-color: #2c3e50;
}

#portfolio .fa-star,
#portfolio h2 {
    color: #2c3e50;
}

/* #endregion main */

/* #region footer */

#footer_top {
    background-color: var(--bg-footer-lighter);
}


#footer_bottom {
    background-color: var(--bg-head-blue);
}


/* #endregion footer */